RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
RewriteRule ^cache/ - [L,R=404]
RewriteRule ^logs/ - [L,R=404]
RewriteRule ^private/ - [L,R=404]

<FilesMatch ".(jpg|png|gif)$">
	Header set Cache-Control "max-age=0,  no-cache, must-revalidate"
</FilesMatch>

<FilesMatch ".(js|css)$">
    ExpiresActive on
    ExpiresDefault "access plus 1 hour"
</FilesMatch>
