.editable,.editable-c {
    /* border-bottom-style: dashed;
    border-bottom-width: 1px; */
    cursor: pointer;
}

.segm-ab-shadow {
    -webkit-box-shadow: 5px 5px 10px 0px #B7B7B7;
    -moz-box-shadow: 5px 5px 10px 0px #B7B7B7;
    -o-box-shadow: 5px 5px 10px 0px #B7B7B7;
    box-shadow: 5px 5px 10px 0px #B7B7B7;
}